.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.submit{
    margin-top: 5px;
    margin-bottom: 5px;
}
body{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#line{
    display: inline;
}
ul{
    list-style-type: none;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}
.hist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.add{
    display: flex;
    gap: 10px; 
}
.searchBar{
    width: 70%;
    border-radius: 25px;
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    padding:25px; 
    margin: 50px; 
    background: rgb(80, 24, 133);
    color: white;
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 10px 26px 0 rgb(138, 43, 226);
    transform: scale(1.2);

  }


.container ul {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 10%;
}


.card a{
    color: rgb(192, 140, 213);
    text-decoration: none;
}